<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head'); %>
  <body>
    <%- include('./layout/navbar'); %>
    <div class="container-fluid p-4">
      <div class="layout">
        <div id="map"></div>
        <div style="max-height: 80vh;">
           <!-- search -->
          <form class="d-flex mb-3">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

          <div class="card overflow-auto" style="height: 90%;">
            <ul class="list-group list-group-flush" >
              <% if (data.length > 0) { %> 
                <% data.forEach(pom => { %>
                  <li class="list-group-item">
                    <h4 id='<%= pom.id %>' style="cursor: pointer;"><%= pom.name %></h4>
                    <p><%= pom.address %></p>
                  </li>
                <% }) %> 
              <% } else { %>
                <p>Data Pom Kosong...</p>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script>
      let coordinate = [-7.263013225873337, 112.75422315732179]
      let zoomLevel = 12

      const map = L.map("map").setView(coordinate, zoomLevel);
      let marker = null;

      const stations = <%- JSON.stringify(data) %>
      console.log(stations);
      
      if(stations.length > 0) {
        stations.forEach(item => {
          let i = document.getElementById(String(item.id))
          i.onclick = () => {
            map.setView([item.coordinateX, item.coordinateY], 13.5);
          }
          marker = new L.marker([item.coordinateX, item.coordinateY]).bindPopup(item.name).addTo(map);
        });
      }

      const tiles = L.tileLayer(
        "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw",
        {
          maxZoom: 15,
          attribution:
            'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          id: "mapbox/streets-v11",
          tileSize: 512,
          zoomOffset: -1,
        }
      ).addTo(map);


    </script>
  </body>
</html>
